<article>
  <h2 class="editPosttitles">
    Edit Post
  </h2>
  <form class="editPostform">
    <div>
      <input id="postTitle" name="postTitle" type="text" value="{{post.title}}" />
    </div>
    <div>
      <textarea id="postText" name="postText">{{post.post_text}}</textarea>
    </div>
    <div class="postEditinfo">
      | Posted by you on {{format_date post.created_at}}
     |&nbsp;<br/> 
      <a id="editPosttitles" href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
    <div class="saveDeletebtns">
       <button  class="saveDeletebtns" id="saveBtn" type="submit">Save</button>
    <button class="deletePostbtn" type="button">Delete</button>
    
</div> 
  </form>
</article>

<form class="commentForm">
  <div>
    <textarea id="commentBody" name="commentBody"></textarea>
  </div>

  <div>
    <button id="addCommentbtn" type="submit">Add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/js/editPost.js"></script>
<script src="/js/deletePost.js"></script>
<script src="/js/comment.js"></script>